html {
  font-family: sans-serif;
  overflow: hidden;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  width: 100%;
  background: hsl(0,0%,90%);
  padding: 10px 0;
}
nav h1{
  margin:0;
  margin-left: 20px;
}
footer {
  background: hsl(0, 0%, 95%);
}
.timer {
  position:relative;
  margin: 0 auto;
  width:600px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
  overflow: hidden;

}

.rest-container {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  vertical-align: center;
}
.rest-display {
  color:red;
  font-size: 180px;
}
.title-input {
  position: relative;
  background: hsl(0, 0%, 95%);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-display {
  padding: 10px 5px;
  margin: 0 0 0 20px;
}

.set-container, .time-container {
  width: 200px;
  height: 100px;
  background: hsl(0, 0%, 100%);
  position: relative;
  margin:0 auto;
}

#time, #sets, .sets-display, .timer-display {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 64px;
}

#sets, #time {
  color: blue;
  border:none;
  padding:0;
  z-index: 60;
}

.sets-display, .timer-display {
  line-height: 100px;
  z-index: 40;
}
.timer-controls {
  margin: 20px;
}
.state-display {
  color: green;
  margin-right: 20px;
}
.inactive {
  display: none;
}
.active {
  display: unset;
  background: hsl(0, 0%, 50%);
}
.btn {
  background: hsl(0,0%,90%);
  border:none;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  padding:0;
}
.btn:hover {
  background: hsl(0,0%,85%);
}
